.Expense {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 5rem;
  background-color: #FFFFFF;
  border-radius: 0px 13px 13px 0px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
  /* padding: 20px; */
  /* outline: black; */
}

.Expense-wrapper {
  border-radius: 0px 13px 13px 0px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25), -6px -6px 8px rgba(255, 255, 255, 0.67);
  background: rgb(255,185,185);
  background: linear-gradient(90deg, rgba(255,185,185,1) 0%, rgba(255,234,178,1) 100%);
  width: 100%;
  /* height: 100%; */
  min-height: 5rem;
  padding: 5px;
  padding-left: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.expenseName {
  font-weight: 700;
  font-size: 1rem;
  color: grey;
  margin-left: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.expensePerYr {
  font-weight: 700;
  font-size: 0.75rem;
  color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1rem;
  padding-bottom: 0px;
  padding-top: 0px;
}

.expense-input {
  width: 25%;
  text-align: left;
  font-size: 1.5rem;
  margin-top: 0px;
}

.expense-input-wrapper {
  display: flex;
  flex-direction: row;  
  margin-left: 1rem;
}

.dollar-sign {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}