.Tax {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 5rem;
  background-color: #FFFFFF;
  border-radius: 0px 13px 13px 0px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
  /* padding: 20px; */
  /* outline: black; */
  transition-duration: 300ms;
}

.Tax-wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 0px 16px 16px 0px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25), -6px -6px 8px rgba(255, 255, 255, 0.67);
  background: rgb(169,242,216);
  background: linear-gradient(90deg, rgba(169,242,216,1) 0%, rgba(166,205,218,1) 100%);
  width: 100%;
  /* height: 100%; */
  min-height: 5rem;
  padding: 5px;
  padding-left: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  transition-duration: 300ms;
}

.tax-text-block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 2rem;
}

.tax-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: grey;
  margin-left: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: auto;
}

.tax-vertical-block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* margin-right: 5rem; */
}

.tax-select {
  max-width: 10rem;
}

.taxPerYr {
  font-weight: 700;
  font-size: 0.75rem;
  color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1rem;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 0px;
}

.tax-amount {
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1rem;
  width: auto;
}